Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
df = [4,8,15,16,23,42]
pd.Series(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
df1 = [1,2,3,4,5,6,7,8,9,10]
pd.Series(df1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
df2 = {
    "name" : ["Alice" , "Bob" , "Claire"],
    "Age" : [25,30,27],
    "gender" : ["Female","Male" , "Female"],
}
pd.DataFrame(df2)

     name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [16]:
 # DataFrame as a collection of pandas Series objects, where each Series represents a column of data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [18]:
# head , tail , isna , Describe , Valueounts , Columns , sum , shape , size , info etc

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [19]:
# all are mutable like Serice DataFrame, Panel

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:

a = pd.Series(["a","b","c"])
b = pd.Series([1,2,3])
c  = pd.Series([5,6,7])


# df=pd.concat([a,b],axis=1)


df=pd.concat([a,b,c],axis=1)
print(df)

   0  1  2
0  a  1  5
1  b  2  6
2  c  3  7