Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# comment

In [2]:
# line comments 
# block comments

What are variables in Python? How do you declare and assign values to variables?

In [4]:
 # variable is string and assign by "="

How do you convert one data type to another in Python?

In [5]:
# using type  funtion 
x = [1,2,3]
print(type(x))
y = tuple(x)
print(type(y))

<class 'list'>
<class 'tuple'>

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [6]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [7]:
# complex number have a imagery number 
# like 5 + 2J

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [8]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [10]:
x = 9.99
#float
print(type(x))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name  = "santosh yadav"
print(name)

santosh yadav

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
x = "Hellow World!"
x[7:]

'World!'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True